/* common */
.wrap {
    position: relative;
    height: 100%;
    color: #4D4D4D;
}
.wrap .ul_flex {
    display: flex;
}
.wrap .inner {
    display: flex;
    height: 100%;
}
.wrap .inner a {
    color: #4D4D4D;
}
.container .contents .section .section_title {
    text-align: center;
    border-bottom: 1px solid #4dabf7;
    
}
.container .contents .section .section_title h2 {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #4dabf7;
}
.container .contents .section .section_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.clearfix {
    display: block;
    content: "";
    clear: both;
}
.container .contents .section .section_info .section_text {
    margin-left: 30px;
    line-height: 1.4;
}
.container .contents .section .section_info .section_text .txt_tit {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.3px;
}
.container .contents .section .section_info .section_text .txt_desc {
    font-size: 19px;
}

.container .contents .section .section_info .section_text .txt_desc .sub_desc {
    padding-bottom: 3px;
    font-size: 25px;
    font-weight: 700;
}

/* modal */
.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    position: relative;
    width: 500px;
    height: 500px;
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
   
}
.modal_title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
.close_wrapper {
    position: absolute;
    top: 24px;
    right: 16px;
}
.close_wrapper #close {
    cursor: pointer;
}
