/* media */
@media screen and (max-width: 768px) { 
  body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* main */
  .container {
    padding: 0;
  }

  .container .contents {
    margin: 0 22px;
  }

  .container .contents .section .section_info:first-child {
    
  }

  .container .contents .section .section_info .section_text {
    margin-left: 10px;
  }

  .container .contents .section .section_info .section_text h1 {
    padding: 15px 0;
  }

  .container .contents .section .section_info .section_text .txt_tit {
    font-size: 28px;
  }

  .container .contents .section .section_info .section_text .txt_sub {
    font-size: 27px;
  }

  .container .contents .section .section_info .section_text .txt_desc {
    font-size: 16px;
  }

  .container .contents .section .section_info .section_text .txt_sub.work_name {
      font-size: 27px;
  }

  .container .contents .section .section_info .section_text .txt_desc.self_intro {
    font-size: 18px;
  }

  .container .contents .section .section_info .section_text .txt_desc .sub_desc {
    font-size: 23px;
  }

  .container .contents .section .section_info .section_text .txt_desc.self_intro strong {
    font-size: 20px;
  }

  .container .contents .section .section_title h2 {
    font-size: 26px;
  }

  .side_info {
    display: block;
  }

  .side_info .contact_box .contact_list {
    display: flex;
  }

  .side_info .contact_box .contact_list li {
    margin: 0 11px;
  }

  .side_info .contact_box .contact_list li i {
    font-size: 30px;
  }
  .side_info .contact_box .contact_list li a:hover {
    color: #4dabf7;
  }
  .side .intro .side_info .contact_box .contact_list li a {
    font-size: 14px;
  }

  .container .contents .section .section_info .section_text .txt_desc.work_desc {
    padding: 10px 0 10px 5px;
    font-size: 16px;
  }

  .container .contents .section .section_info .section_work .works_ul li strong {
    font-size: 20px;
  }

  .container .contents .section .section_info .section_text .txt_desc.work_desc .work_info {
    font-size: 16px;
  }

  .container .contents .section .section_info .section_text strong.sub_desc:before {
    left: -15px;
  }

  .container .contents .section .section_info .section_text .details_box ul li {
    font-size: 16px;
  }

  .container .contents .section .section_info .section_work li i {
    margin-top: 5px;
    font-size: 20px;
  }

  .container .contents .section.contact_section  {
    display: block;
}

  iframe {
    height: 50%;
  }

  /* // main */

  /* footer */
  .footer {
    display: none;
  }
  /* // footer */
}
/* // media */